.Auth {
  h1 {
    font-family: 'Coming Soon', cursive;
    font-style: oblique;
    margin-top: 3rem;
  }
  .btn-success {
    width: 100px;
    margin-top: 1rem;
    background-color: #27D133 !important;
  }
}
